.home {
  main {
    .banner {
      align-items: center;
      display: flex;
      height: 95vh;
      justify-content: center;
      max-width: 1920px;
      min-height: 450px;
      position: relative;
      z-index: 1;
      img,
      video {
        height: 100%;
        object-fit: cover;
        width: 100%;
        border-radius: 0 0 150px 150px;
        overflow: hidden;
      }
      .banner-links {
        
        position: absolute;
        bottom: calc(-230px / 2);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        li {
          &:hover
          {
            position:relative;
            top:-10px;
            transition:all 0.3s;
          }
          transition:all 0.3s;
          position:relative;
          top:0;
          cursor:pointer;
          width: 230px;
          height: 230px;
          border-radius: 15px;
          background-repeat: no-repeat;
          background-size: cover;
          padding: 20px;
          display: flex;
          align-items: flex-end;
          a {
            font-size: 23px;
            line-height: 30px;
            font-family: "MuseoSans-900";
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 2px #000;
            width: 100%;
          }
        }
      }
    }
    .known {
      position: relative;
      top: -150px;
      padding: calc(124px * 3) 0 124px;
      background: rgb(49, 49, 48);
      background: linear-gradient(
        228deg,
        rgba(49, 49, 48, 1) 0%,
        rgba(49, 49, 48, 1) 20%,
        rgba(26, 26, 26, 1) 80%,
        rgba(26, 26, 26, 1) 100%
      );
      h2 {
        text-align: center;
        font-size: 40px;
        font-family: "MuseoSans-900";
        margin-bottom: 50px;
        color: #fff;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        a {
          &:hover
          {
            top:-10px;
            transition:all 0.3s;
          }
          display: flex;
          flex-direction: column;
          align-items: center;
          margin:0 20px;
          justify-content: center;
          position:relative;
          top:0;
          transition:all 0.3s;
          img {
            width: 186px;
            height: 186px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 15px;
          }
          h4 {
            font-size: 2.4rem;
            font-family: "MuseoSans-900";
            color: #fff;
            width: 80%;
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }
    .success-stories {
      padding: calc(50px * 3) 0 50px;
      position: relative;
      background: rgb(49, 49, 48);
      top: -150px;
      background: linear-gradient(
        228deg,
        rgba(49, 49, 48, 1) 0%,
        rgba(49, 49, 48, 1) 20%,
        rgba(26, 26, 26, 1) 80%,
        rgba(26, 26, 26, 1) 100%
      );
      h2 {
        text-align: center;
        font-size: 40px;
        font-family: "MuseoSans-900";
        margin-bottom: 50px;
        color: #fff;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin:20px;
          justify-content: center;
          width:calc(33.333% - 40px);
          img {
            
            height: 192px;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0 0 20px #000;
            margin-bottom: 15px;
          }
          b {
            font-size: 1.6rem;
            font-family: "MuseoSans-900";
            color: #fff;
            width: 80%;
            margin: 20px auto;
            text-align: center;
          }
          p {
            font-size: 1.4rem;
            font-family: "MuseoSans-500";
            color: #fff;
            width: 80%;
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }
  }
}
