.infocards {
  background: rgb(49, 49, 48);
  padding-top: 120px;
  background: linear-gradient(
    228deg,
    rgba(49, 49, 48, 1) 0%,
    rgba(49, 49, 48, 1) 20%,
    rgba(26, 26, 26, 1) 80%,
    rgba(26, 26, 26, 1) 100%
  );
  min-height: 100vh;
  h1 {
    color: #fff;
    font-family: "MuseoSans-900";
  }
  &-header {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .divider {
      height: 80px;
      width: 2px;
      background-color: #fff;
      margin: 0 35px;
    }
    img {
      width: 150px;
      height: 60px;
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    li {
      width: 100%;
      box-shadow: inset 0 0 30px rgba($color: #fff, $alpha: 0.2);
      background: linear-gradient(
        228deg,
        rgba(49, 49, 48, 1) 0%,
        rgba(49, 49, 48, 1) 20%,
        rgba(26, 26, 26, 1) 80%,
        rgba(26, 26, 26, 1) 100%
      );
      border-radius: 24px;
      padding: 50px 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      img {
        width: 50%;
        display: block;
        margin: 0 auto 30px;
      }
      h2 {
        color: #6dca8d;
        font-family: "MuseoSans-900";
        font-size: 85px;
        text-align: center;
        line-height: 85px;
      }
      p {
        color: #fff;
        font-size: 16px;
        font-family: "MuseoSans-700";
        text-align: center;
        line-height: 25px;
      }
    }
  }
}
