.container {
  display:flex;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  width:100%;

}
.column
{
  box-sizing: border-box;
  gap: 30px;
}
.flex
{
  display:flex;
  flex-flow:row wrap;
}
.ccount2
{
  column-count:2;
}
.ccount3
{
  column-count:3;
}
.ccount4
{
  column-count:4;
}
.w_100
{
  width:100%;
}
.w_95
{
  width:95%;
}
.w_90
{
  width:90%;
}
.w_85
{
  width:85%;
}
.w_80
{
  width:80%;
}
.w_75
{
  width:75%;
}
.w_70
{
  width:70%;
}
.w_65
{
  width:65%;
}
.w_60
{
  width:60%;
}
.w_55
{
  width:55%;
}
.w_50
{
  width:50%;
}
.w_45
{
  width:45%;
}
.w_40
{
  width:40%;
}
.w_35
{
  width:35%;
}
.w_33
{
  width:33.333333%;
}
.w_30
{
  width:30%;
}
.w_25
{
  width:25%;
}
.w_20
{
  width:20%;
}
.w_15
{
  width:15%;
}
.w_10
{
  width:10%;
}
.w_5
{
  width:5%;
}